<a href="https://colab.research.google.com/github/Rya-Sanovar/Data-Mining---analysis-of-3-datasets/blob/main/2020AAPS0306H_RyaSanovar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
  
uploaded = files.upload()

Saving drinks.csv to drinks (1).csv
Saving Euro_2012_stats_TEAM.csv to Euro_2012_stats_TEAM (1).csv
Saving wdbc.csv to wdbc (1).csv

In [ ]:
import pandas as pd
import numpy as np
import io
 
df = pd.read_csv(io.BytesIO(uploaded['drinks.csv']))
df2 = pd.read_csv(io.BytesIO(uploaded['Euro_2012_stats_TEAM.csv']))
df3 = pd.read_csv(io.BytesIO(uploaded['wdbc.csv']))

## **QUESTION 1**
Consider the following Dataset containing information regarding alcohol consumption in different countries. An analyst performs different operations to carry out certain tasks to help the analyst in performing the task.

In [ ]:
df.sample(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
168,Tajikistan,2,15,0,0.3,AS
63,Gambia,8,0,1,2.4,AF
82,Israel,63,69,9,2.5,AS
160,Spain,284,157,112,10.0,EU
3,Andorra,245,138,312,12.4,EU

Which continent drinks more Wine on average?

In [ ]:
total_wine_in_continent = df['wine_servings'].groupby(df['continent']) #total wine in each continent
total_wine_in_continent.mean().idxmax() #prints continent which drinks most Wine on average

'EU'

For each continent print the statistics for Beer consumption

In [ ]:
dfnew = df['beer_servings'].groupby(df['continent'])
dfnew.describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

Print the median alcohol consumption per continent for every column

In [ ]:
dfnew2 = df.groupby(df['continent'])
dfnew2.median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

## **QUESTION 2**
Consider a Euro 2012 football tournament.
Football analysts decide certain criteria in order to decide which team has a good chance to win this cup. Your task is to help those analysts by performing some tasks given below.

In [ ]:
df2.sample(5)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

Find the teams who are participating in this tournament

In [ ]:
print(df2['Team'].to_string(index=False))

            Croatia
     Czech Republic
            Denmark
            England
             France
            Germany
             Greece
              Italy
        Netherlands
             Poland
           Portugal
Republic of Ireland
             Russia
              Spain
             Sweden
            Ukraine

Find the shooting accuracy of all the teams that have scored more than 5 goals

In [ ]:
df2new = df2[df2['Goals'] > 5]
print(df2new[['Team', 'Shooting Accuracy']].to_string(index=False))

    Team Shooting Accuracy
 Germany             47.8%
   Italy             43.0%
Portugal             34.3%
   Spain             55.9%

Find the total number of goals scored in the tournament

In [ ]:
df2['Goals'].sum()

76

Sort the teams on the basis of goals scored (non-ascending order)

In [ ]:
df2.sort_values(by="Goals", ascending=False)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17

Find the team with the most number of red cards

In [ ]:
value = df2['Red Cards'].max()
print(df2.loc[df2['Red Cards'] == value]['Team'].to_string(index=False))

             Greece
             Poland
Republic of Ireland

## **QUESTION 3**
Consider the given breast cancer dataset from the given google drive link, the last column has the target variable (2 classes: "B" for benign and "M" for malignant) and the remaining columns have the features.

In [ ]:
df3.sample(5)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column23,Column24,Column25,Column26,Column27,Column28,Column29,Column30,Column31,Column32
108,86355,M,22.27,19.67,152.80,1509.0,0.1326,0.2768,0.4264,0.18230,...,28.40,28.01,206.8,2360.0,0.1701,0.6997,0.9608,0.2910,0.4055,0.09789
121,86517,M,18.66,17.12,121.40,1077.0,0.1054,0.1100,0.1457,0.08665,...,22.25,24.90,145.4,1549.0,0.1503,0.2291,0.3272,0.1674,0.2894,0.08456
53,857392,M,18.22,18.70,120.30,1033.0,0.1148,0.1485,0.1772,0.10600,...,20.60,24.13,135.1,1321.0,0.1280,0.2297,0.2623,0.1325,0.3021,0.07987
203,87880,M,13.81,23.75,91.56,597.8,0.1323,0.1768,0.1558,0.09176,...,19.20,41.85,128.5,1153.0,0.2226,0.5209,0.4646,0.2013,0.4432,0.10860
4,84358402,M,20.29,14.34,135.10,1297.0,0.1003,0.1328,0.1980,0.10430,...,22.54,16.67,152.2,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

Implement the decision tree algorithm from scratch. 
You can use the Gini index to decide on the splitting attribute on the breast cancer dataset. Make use of only NumPy, pandas. Calculate the accuracy of the decision tree.

### **Node** **Class**

In [ ]:
class Node():
    def __init__(self, feature_index=None, threshold=None, left=None, right=None, info_gain=None, value=None):
        ''' constructor ''' 
        
        # for decision node
        self.feature_index = feature_index
        self.threshold = threshold
        self.left = left
        self.right = right
        self.info_gain = info_gain
        
        # for leaf node
        self.value = value

### **Tree Class**

In [ ]:
class DecisionTreeClassifier():
    def __init__(self, min_samples_split=2, max_depth=2):
        ''' constructor '''
        
        # initialize the root of the tree 
        self.root = None
        
        # stopping conditions
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        
    def build_tree(self, dataset, curr_depth=0):
        ''' recursive function to build the tree ''' 
        
        X, Y = dataset[:,:-1], dataset[:,-1]
        num_samples, num_features = np.shape(X)
        
        # split until stopping conditions are met
        if num_samples>=self.min_samples_split and curr_depth<=self.max_depth:
            # find the best split
            best_split = self.get_best_split(dataset, num_samples, num_features)
            # check if information gain is positive
            if best_split["info_gain"]>0:
                # recur left
                left_subtree = self.build_tree(best_split["dataset_left"], curr_depth+1)
                # recur right
                right_subtree = self.build_tree(best_split["dataset_right"], curr_depth+1)
                # return decision node
                return Node(best_split["feature_index"], best_split["threshold"], 
                            left_subtree, right_subtree, best_split["info_gain"])
        
        # compute leaf node
        leaf_value = self.calculate_leaf_value(Y)
        # return leaf node
        return Node(value=leaf_value)

    def get_best_split(self, dataset, num_samples, num_features):
        ''' function to find the best split '''
        
        # dictionary to store the best split
        best_split = {}
        max_info_gain = -float("inf")
        
        # loop over all the features
        for feature_index in range(num_features):
            feature_values = dataset[:, feature_index]
            possible_thresholds = np.unique(feature_values)
            # loop over all the feature values present in the data
            for threshold in possible_thresholds:
                # get current split
                dataset_left, dataset_right = self.split(dataset, feature_index, threshold)
                # check if childs are not null
                if len(dataset_left)>0 and len(dataset_right)>0:
                    y, left_y, right_y = dataset[:, -1], dataset_left[:, -1], dataset_right[:, -1]
                    # compute information gain
                    curr_info_gain = self.information_gain(y, left_y, right_y)
                    # update the best split if needed
                    if curr_info_gain>max_info_gain:
                        best_split["feature_index"] = feature_index
                        best_split["threshold"] = threshold
                        best_split["dataset_left"] = dataset_left
                        best_split["dataset_right"] = dataset_right
                        best_split["info_gain"] = curr_info_gain
                        max_info_gain = curr_info_gain
                        
        # return best split
        return best_split
    
    def split(self, dataset, feature_index, threshold):
        ''' function to split the data '''
        
        dataset_left = np.array([row for row in dataset if row[feature_index]<=threshold])
        dataset_right = np.array([row for row in dataset if row[feature_index]>threshold])
        return dataset_left, dataset_right

    def information_gain(self, parent, l_child, r_child):
        ''' function to compute information gain '''
        
        weight_l = len(l_child) / len(parent)
        weight_r = len(r_child) / len(parent)
        gain = self.gini_index(parent) - (weight_l*self.gini_index(l_child) + weight_r*self.gini_index(r_child))
        return gain
    
    def gini_index(self, y):
        ''' function to compute gini index '''
        
        class_labels = np.unique(y)
        gini = 0
        for cls in class_labels:
            p_cls = len(y[y == cls]) / len(y)
            gini += p_cls**2
        return 1 - gini
        
    def calculate_leaf_value(self, Y):
        ''' function to compute leaf node '''
        
        Y = list(Y)
        return max(Y, key=Y.count)
    
    def print_tree(self, tree=None, indent=" "):
        ''' function to print the tree '''
        
        if not tree:
            tree = self.root

        if tree.value is not None:
            print(tree.value)

        else:
            print("X_"+str(tree.feature_index), "<=", tree.threshold, "?", tree.info_gain)
            print("%sleft:" % (indent), end="")
            self.print_tree(tree.left, indent + indent)
            print("%sright:" % (indent), end="")
            self.print_tree(tree.right, indent + indent)
    
    def fit(self, X, Y):
        ''' function to train the tree '''
        
        dataset = np.concatenate((X, Y), axis=1)
        self.root = self.build_tree(dataset)
    
    def predict(self, X):
        ''' function to predict new dataset '''
        
        preditions = [self.make_prediction(x, self.root) for x in X]
        return preditions
    
    def make_prediction(self, x, tree):
        ''' function to predict a single data point '''
        
        if tree.value!=None: return tree.value
        feature_val = x[tree.feature_index]
        if feature_val<=tree.threshold:
            return self.make_prediction(x, tree.left)
        else:
            return self.make_prediction(x, tree.right)

### **Train-Test Split**

In [ ]:
X = df3.iloc[:, 2:].values
Y = df3.iloc[:, 1].values.reshape(-1,1)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2)

### **Fit The Model**

In [ ]:
classifier = DecisionTreeClassifier(min_samples_split=3, max_depth=10)
classifier.fit(X_train,Y_train)
classifier.print_tree()

X_22 <= 105.9 ? 0.35845007032837506
 left:X_24 <= 0.1733 ? 0.10055457272765349
  left:X_1 <= 22.54 ? 0.02291772240215622
    left:X_18 <= 0.04197 ? 0.023780673677793133
        left:X_20 <= 16.11 ? 0.012187499999999973
                left:B
                right:M
        right:M
    right:M
  right:M
 right:X_4 <= 0.08182 ? 0.048692780548818856
  left:X_0 <= 16.84 ? 0.375
    left:B
    right:M
  right:X_1 <= 15.24 ? 0.01919789612097301
    left:X_2 <= 102.0 ? 0.48
        left:B
        right:M
    right:M

### **Test The Model**

In [ ]:
Y_pred = classifier.predict(X_test) 
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

0.9302325581395349